{% extends 'base.html' %}
{% load static %}

{% block title %} How to Shop on Bessie + Beau  | Bessie + Beau  {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
            <hr>
            <h1 class="mb-4">How to Shop on Bessie + Beau</h1>
            <hr class="mb-3">
        </div>  
    </div>  
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <p>This explains how you can buy the product you want on <a href="{% url 'home' %}" aria-label="Go to home page"><strong>Bessie + Beau</strong></a> luxury fashion and beauty store. </p>
                <div >
                    <ul class="ml-5">
                        <ol>
                            <li>
                                Find the product you want, then click on <strong>Add to Cart</strong>.
                            </li>
                            <li>When you are ready to place an order select <strong>Cart</strong></a> 
                                at the top right of the page.
                            </li>
                            <li>Once you enter your basket you will need to follow these simple steps:</li>
                        </ol>
                        <li class="ml-5"><strong>Step 1.</strong> Check that you are happy with the products in your bag, then click 
                            “Go to checkout” at the bottom of the page.;
                        </li>
                        <li class="ml-5"><strong>Step 2.</strong> If you haven’t already signed in, you will be asked to enter your preferred 
                            email address so that we can send you an email confirming your order once payment 
                            has been made. This can be done either as a guest, or as a registered user. If you 
                            are already signed in you will be directed straight to step three;
                        </li>
                        <li class="ml-5"><strong>Step 3.</strong> Select your delivery method;</li>
                        <li class="ml-5"><strong>Step 4.</strong> You will then be shown to the payment page. Here you can select and enter your 
                            payment method: You can pay using your Credit or Debit Card OR Apple Pay;
                        </li>
                        <li class="ml-5"><strong>Step 5.</strong> Once you are happy with your details, you can go ahead and complete 
                            your order by clicking "place order and pay";
                        </li>
                    </ul>
                </div>
                <div class="text-center my-0" >
                    <ul class="list-group list-group-flush my-0 ">
                        <span><strong>Have a question?</strong></span>
                        <span>We are ever ready to assist you.</span>
                        <span>Email Us: <strong>info@bessiebeau.com</strong></span>
                    </ul>
                </div>
        </div>
    </div>
</div>
{% endblock %}