{% extends 'base.html' %}
{% load static %}

{% block title %} Women's Clothes, Beauty & Men's Fashion  | Bessie + Beau  {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div>
  <!-- Hero Image  -->
  <div class="pt-0 text-center"> 
      <img src="{{ MEDIA_URL }}hero-image-mobile-lg.webp" id="hero-image-mobile" class="img-fluid" alt="Bessie + Beau Hero Image">
      <img src="{{ MEDIA_URL }}hero-image.webp" id="hero-image" class="img-fluid" alt="Bessie + Beau Hero Image">
      <!-- <picture>
        <source media="(max-width: 540px)" srcset="{{ MEDIA_URL }}hero-image-mobile.webp" id="hero-image-mobile" class="img-fluid" alt="Bessie + Beau Hero Image" />
        <source media="(min-width: 1201px)" srcset="{{ MEDIA_URL }}hero-image.webp" id="hero-image-mobile-big" class="img-fluid" alt="Bessie + Beau Hero Image" />
        <source media="(max-width: 820px)" srcset="{{ MEDIA_URL }}hero-image-lg.webp" id="hero-image-mobile-lg" class="img-fluid" alt="Bessie + Beau Hero Image" />
        <source media="(max-width: 1200px)" srcset="{{ MEDIA_URL }}hero-image-big.webp" id="hero-image" class="img-fluid" alt="Bessie + Beau Hero Image" />
        <img src="{{ MEDIA_URL }}hero-image-mobile.webp" id="hero-image" class="img-fluid" alt="Bessie + Beau Hero Image" />
      </picture> -->
  </div>

  <!-- Hero image text  -->
  <div class="container container-mobile" >
    <div class="row w-100 h-100 mb-5 text mx-auto" >
      <div class="hero-image-text h-100 mx-1 my-5" >
        <div class="col-12 mt-5">
            <span class="haute-couture my-5">
                Haute Couture
            </span>
            <div>
                <h1 class="font-weight-bold text-uppercase">
                    Just For Women
                </h1>
            </div>
            <div class="mt-2">
                <h2>
                    <a href="{% url 'products' %}" aria-label="Go to all products page" class="btn home-btn home-mobile-btn btn-dark text-uppercase py-3">Shop Now</a>
                </h2>
            </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Women Clothing  Section  -->
    <div class="row mt-1 mb-2 mx-auto">
      <div class="col-12 col-md-4 ">
        <img src="{{ MEDIA_URL }}gorgeous-and-stylish-dress.webp" class="img-fluid home-img mb-4" alt="Gorgeous and Stylish Dress">
        <div class="mb-5 text-center">
          <h4>Gorgeous and Stylish Dresses</h4>
          <h5>
              <a href="{% url 'products' %}?category=dresses" aria-label="Go to women dresses page" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Dresses</a>
          </h5>
        </div>
      </div>
      <div class="col-12 col-md-4 ">
        <img src="{{ MEDIA_URL }}stylish-rugged-jeans.webp" class="img-fluid home-img mb-4" alt="Stylish Rugged Jeans">
      <div class="mb-5 text-center">
        <h4>Stylish Rugged Jeans</h4>
        <h5>
            <a href="{% url 'products' %}?category=jeans" aria-label="Go to women jeans page" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Jeans</a>
        </h5>
      </div>
      </div>
      <div class="col-12 col-md-4 ">
        <img src="{{ MEDIA_URL }}women-luxury-tops.webp" class="img-fluid home-img mb-4" alt="Women Luxury Tops">
      <div class="mb-5 text-center">
        <h4>Women Luxury Tops</h4>
        <h5>
            <a href="{% url 'products' %}?category=dresses" aria-label="Go to women tops page" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Tops</a>
        </h5>
      </div>
      </div>
    </div>

  <!-- Women Beauty Spotlight Section  -->
  <div class="row mt-1 mb-2 mx-auto">
    <div class="col-12 col-md-3 ">
      <img src="{{ MEDIA_URL }}professional-makeup-brushes.webp" class="img-fluid mb-0 beauty-spotlight-img" alt="Makeup Brushes">
      <div class="mb-5 text-center">
        <h4>Makeup Brushes</h4>
        <h5>
            <a href="{% url 'products' %}?category=makeup_polish,eyelashes,lipsticks" aria-label="Go to women makeup, polish and lipsticks page" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Make-ups</a>
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-3 ">
      <img src="{{ MEDIA_URL }}makeup-artist-and-brushes.webp" class="img-fluid mb-0 beauty-spotlight-img" alt="Makeup-artist-and-brushes">
      <div class="mb-5 text-center">
        <h4>Makeup Artist and Brushes</h4>
        <h5>
            <a href="{% url 'products' %}?category=makeup_polish" aria-label="Go to women makeup page" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Polish</a>
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-3 ">
      <img src="{{ MEDIA_URL }}health-and-wellness.webp" class="img-fluid mb-0 beauty-spotlight-img" alt="Health and Wellness">
      <div class="mb-5 text-center">
        <h4>Health and Wellness</h4>
        <h5>
            <a href="{% url 'products' %}?category=makeup_polish,eyelashes,lipsticks" aria-label="Go to women health and wellness products page"  class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Beauty</a>
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-3 ">
      <img src="{{ MEDIA_URL }}lipsticks.webp" class="img-fluid mb-0 beauty-spotlight-img" alt="Women Luxury Tops">
      <div class="mb-5 text-center">
        <h4>Luxury Lipsticks</h4>
        <h5>
            <a href="{% url 'products' %}?category=eyelashes_lipsticks" aria-label="Go to women eyelashes and lipsticks page" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Lipsticks</a>
        </h5>
      </div>
    </div>
  </div>

  <!-- Women Accessories  Section  -->
  <div class="row mt-1 mb-2 mx-auto">
    <div class="col-12 col-md-4 ">
      <img src="{{ MEDIA_URL }}women-sunglasses.webp" class="img-fluid home-img mb-4" alt="Women Sunglasses">
      <div class="mb-5 text-center">
        <h4>Women Sunglasses</h4>
        <h5>
            <a href="{% url 'products' %}?category=accessories" aria-label="Go to women accessories page" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Sunglasses</a>
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-4 ">
      <img src="{{ MEDIA_URL }}women-luxury-shoes.webp" class="img-fluid home-img mb-4" alt=">Women Luxury Shoes">
      <div class="mb-5 text-center">
        <h4>Women Luxury Shoes</h4>
        <h5>
            <a href="{% url 'products' %}?category=shoes" aria-label="Go to women shoes page" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Shoes</a>
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-4 ">
      <img src="{{ MEDIA_URL }}women-top-brands-bags.webp" class="img-fluid home-img mb-4" alt="For the Made Man">
      <div class="mb-5 text-center">
        <h4>Women Top Brands Bags</h4>
        <h5>
            <a href="{% url 'products' %}?category=bags" aria-label="Go to women bags page" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Women Top Brands Bags</a>
        </h5>
      </div>
    </div>
  </div>

  <!-- Men section  -->
  <div class="row mt-1 mb-2 mx-auto men-section">
    <div class="col-12 col-md-4 text-right">
      <hr class="divider bg-dark">
        <h3>For Him</h3>
      <hr class="divider bg-dark">
      <div class="d-flex" style="height: 200px;">
        <div class="vr men-section-intro">
          <p >
            To many men, the concept of fashion isn't something that holds much importance or interest. 
            This isn't to say that these men dress poorly, but usually, the basis behind why a certain 
            outfit might look good doesn't register in their minds, and so a different end result is produced. 
            While this isnt necessarily a critique on a man's ability to dress himself, it is an unfortunate 
            side-effect of the gender norms that formulate the idea that fashion is a topic reserved 
            for women, for whom clothing is more of an art than a tool... 
            <a href="{% url 'products' %}?category=men_shirts,men_jeans,men_shoes_accessories" aria-label="Go to all men products page" class="edit-btn text-decoration-underline">Shop For Him</a>
          </p>
        </div>
      </div>
      <img src="{{ MEDIA_URL }}men-accessories.webp" class="img-fluid home-img mb-4 py-5" alt="Men Accessories">
        <div class="mb-5 text-center">
          <h4>Men Accessories</h4>
          <h5>
              <a href="{% url 'products' %}?category=men_shoes_accessories" aria-label="Go to men shoes and accessories page"  class="btn home-beauty-btn text-uppercase border border-dark bg-white">Men Accessories</a>
          </h5>
        </div>
    </div>
    <div class="col-12 col-md-4 ">
      <img src="{{ MEDIA_URL }}for-the-made-man.webp" class="img-fluid home-img mb-4" alt="For the Made Man">
      <div class="mb-5">
        <h4>For the Made Man</h4>
        <h5>
            <a href="{% url 'products' %}?category=men_shirts,men_jeans,men_shoes_accessories" aria-label="Go to all men products page" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop For Him</a>
        </h5>
      </div>
    </div>
    <div class="col-12 col-md-4 ">
      <img src="{{ MEDIA_URL }}men-shirts.webp" class="img-fluid home-img mb-4" alt="Men Shirts">
      <div class="mb-5">
        <h4>Men Shirts</h4>
        <h5>
            <a href="{% url 'products' %}?category=men_shirts" aria-label="Go to men shirts page" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Men Shirts</a>
        </h5>
      </div>
    </div>
  </div>

  <!-- Testimonials section  -->
  <div itemscope itemtype=“https://schema.org/Testimonials” class="row mt-1 mb-2 mx-auto">
    <div class="col-12 w-50 text-center">
        <h3 class="card-title card-footer" itemprop =“name”>Customer Testimonials</h3>
    </div>
  </div>
  <div class="container mt-2 mb-5">
    <div class="row g-2">
      {% for testimonial in testimonials %}
        <div class="col-12 col-md-4">
            <div class="card p-3 text-center px-4 m-2">
                <div class="user-image">
                  <img src="{{ testimonial.user.userprofile.profile_image.url }}" class="img-fluid mx-auto" width="500" alt="{{ testimonial.user.username }}Testimonial's author Profile Photo" >
                  <hr>
                  <p class="font-weight-bold mb-0">{{ testimonial.name }}</p>
                  <span class=" text-muted font-weight-normal">
                    {{ testimonial.created_on | date:"D, d M Y" }},
                    {{ testimonial.created_on | time:"H:ia" }}
                  </span>
                  <p class="py-0 text-left"> {{ testimonial.body }} </p>
                </div>
                <div class="text-center">
                  {% if request.user.username %}
                  <hr>
                  <small class="ml-3">
                    {% if request.user.username or request.user.is_superuser == testimonial.user.username %}
                      <a class="edit-btn" href="{% url 'edit_testimonial' testimonial.id %}" aria-label="Go to edit testimonial page">Edit</a> |
                      <!-- Delete Testimonial Button trigger modal -->
                      <a type="text" href="{{ testimonial.id }}" class="text-danger" data-toggle="modal" data-target="#testimonial_{{ testimonial.id }}" aria-label="Delete this testimonial" >
                        Delete
                      </a>
                    {% endif %}
                  </small>
                  <!-- Delete Testimonial Modal -->
                  <div class="modal fade" id="testimonial_{{ testimonial.id }}" tabindex="-1" role="dialog" aria-labelledby="delete-testimonial_{{ testimonial.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="delete-testimonial_{{ testimonial.id }}">Delete Testimonial</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <h4>{{ user | capfirst }}, are you sure you want to delete this Testimonial?</h4>
                          <p>Your Testimonial and its related items will be deleted.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, take me back</button>
                          <a role="button" href="{% url 'delete_testimonial' testimonial.id %}" class="btn btn-danger">Yes, I'm Sure</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div> 
    <!-- Add testimonial button  -->
    <div class="text-center my-3"> 
      <a href="{% url 'testimonial' %}" aria-label="Write a testimonial" class="btn home-beauty-btn py-2 border border-lightgray bg-white font-weight-bold" itemprop =“description”>Write a testimonial</a>
      <hr class="divider bg-lightgray w-100">
    </div>
  </div>
</div>
{% endblock %}
