{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-5 text-right">
            <h1 class="display-4 my-5">
                Haute Couture
            </h1>
            <div>
                <h2 class="display-4 font-weight-bold text-uppercase">
                    Just For <br>Women
                </h2>
            </div>
            <div class="mt-2">
                <h4>
                    <a href="{% url 'products' %}" class="btn btn-lg btn-dark text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
