{% extends 'base.html' %}
{% load static %}

{% block title %} Women's Clothes, Beauty & Men's Fashion  | Bessie + Beau  {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div>
  <!-- Hero Image  -->
  <div class="pt-0 text-center"> 
      <img src="{{ MEDIA_URL }}hero-image-mobile.jpg" id="hero-image-mobile" class="img-fluid" alt="Bessie + Beau Hero Image">
      <img src="{{ MEDIA_URL }}hero-image.jpg" id="hero-image" class="img-fluid" alt="Bessie + Beau Hero Image">
  </div>

  <!-- Hero image text  -->
  <div class="container container-mobile" >
    <div class="row w-100 h-100 mb-5 text mx-auto" >
      <div class="hero-image-text h-100 mx-1 my-5" >
        <div class="col-12 mt-5">
            <span class="haute-couture my-5">
                Haute Couture
            </span>
            <div>
                <h1 class="font-weight-bold text-uppercase">
                    Just For Women
                </h1>
            </div>
            <div class="mt-2">
                <h4>
                    <a href="{% url 'products' %}" class="btn home-btn btn-dark text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Luxury Brands Section  -->
    <div class="main-container h-100 w-100 mx-auto my-5" >
      <div class="row h-100 border-0 header-container text-center">
          <div class="col-12 my-2">
            <div class="row pb-4">
              <div class="col-md-4">
                <img src="{{ MEDIA_URL }}women-top-brands-bags.webp" class="home-img mb-4" alt="Women Top Brands Bags">
                <div class="mb-5">
                  <h5>Women Top Brands Bags</h5>
                  <h4>
                      <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Bags</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4">
                <img src="{{ MEDIA_URL }}for-the-made-man.webp" class="home-img mb-4" alt="For the Made Man">
                <div class="mb-5">
                  <h5>For the Made Man</h5>
                  <h4>
                      <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop For Him</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 fa-3x">
                <img src="{{ MEDIA_URL }}women-luxury-shoes.jpg" class="home-img mb-4" alt="Women Tops">
                  <div class="mb-5">
                    <h5>Top Hits</h5>
                    <h4>
                        <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Shoes</a>
                    </h4>
                  </div>
              </div>
            </div>
            <hr>
          </div>  
      </div>
  </div>

<!-- Beauty Spotlight Section  -->
  <div class="main-container h-100 w-100 mx-auto my-5" >
    <div class="row h-100 border-0 header-container text-center">
        <div class="col-12 my-2">
          <div class="row pb-4">
            <div class="col-md-3">
              <img src="{{ MEDIA_URL }}professional-makeup-brushes.webp" class="mb-0 beauty-spotlight-img" alt="Makeup Brushes">
                <div class="mb-5">
                  <h5>Makeup Brushes</h5>
                  <h4>
                      <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Now</a>
                  </h4>
                </div>
            </div>
            <div class="col-md-3">
              <img src="{{ MEDIA_URL }}makeup-artist-and-brushes.webp" class="mb-0 beauty-spotlight-img" alt="Bessie + Beau logo">
              <div class="mb-5">
                <h5>Women Top Brands Bags</h5>
                <h4>
                    <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Now</a>
                </h4>
              </div>
            </div>
            <div class="col-md-3">
              <img src="{{ MEDIA_URL }}health-and-wellness.webp" class="mb-0 beauty-spotlight-img" alt="Health and Wellness">
              <div class="mb-5">
                <h5>Health and Wellness</h5>
                <h4>
                    <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Now</a>
                </h4>
              </div>
            </div>
            <div class="col-md-3">
              <img src="{{ MEDIA_URL }}professional-makeup-brushes.webp" class="mb-0 beauty-spotlight-img" alt="Makeup Brushes">
                <div class="mb-5">
                  <h5>Makeup Brushes</h5>
                  <h4>
                      <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Now</a>
                  </h4>
                </div>
            </div>
          </div>
          <hr>
        </div>  
    </div>
</div>

    <div class="main-container h-100 w-100 mx-auto my-5" >
      <div class="row h-100 border-0 header-container text-center">
          <div class="col-12 my-2">
            <div class="row pb-4">
              <div class="col-md-4">
                <img src="{{ MEDIA_URL }}women-luxury-tops.webp" class="home-img mb-4" alt="Women Top Brands Bags">
                <div class="mb-5">
                  <h5>Top Hits</h5>
                  <h4>
                      <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop Tops</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4">
                <img src="{{ MEDIA_URL }}for-the-made-man.webp" class="home-img mb-4" alt="For the Made Man">
                <div class="mb-5">
                  <h5>For the Made Man</h5>
                  <h4>
                      <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase py-2 border border-dark bg-white">Shop For Him</a>
                  </h4>
                </div>
              </div>
              <div class="col-md-4 fa-3x">
                <img src="{{ MEDIA_URL }}women-luxury-shoes.jpg" class=" home-img mb-4" alt="Women Tops">
                  <div class="mb-5">
                    <h5>Top Shoes</h5>
                    <h4>
                        <a href="{% url 'products' %}" class="btn home-beauty-btn text-uppercase border border-dark bg-white">Shop Shoes</a>
                    </h4>
                  </div>
              </div>
            </div>
            <hr>
          </div>  
      </div>
  </div>

    <!-- Testimonials section  -->
    <div class="row w-50 testimonials h-100 text mx-auto">
      <div class="col-12 w-50 text-center">
        <span>
          <h3 class="card-title card-footer">Customer Testimonials</h3>
      </div>
      {% for testimonial in testimonials %}
        <div class="col-sm-4">
          <div>
              <div class="card-body text center">
                {% if profile.profile_image %}
                  <img src="{{ profile.profile_image.url }}" width="150px" alt="{{ user }}Profile Photo" class="rounded-circle">
                {% else %}
                  <img src="{{ MEDIA_URL }}noimage.png" width="150px" alt="{{ user }}Profile Photo" class="rounded-circle">
                {% endif %}
                  <hr>
                  <span class="font-weight-bold">{{ testimonial.name }}</span>
                  <p class="card-text">{{ testimonial.body }}</p>
              </div>
            <div class="card-footer text-center">
              {% if request.user.username %}
              <small class="ml-3">
                <a href="{% url 'testimonial' %}">Add testimonial</a> |
                {% if request.user.username or request.user.is_superuser == testimonial.user.username %}
                  <a href="{% url 'edit_testimonial' testimonial.id %}">Edit</a> |
                  <a class="text-danger" href="{% url 'delete_testimonial' testimonial.id %}">Delete</a>
                {% endif %}
              </small>
          {% endif %}
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
        {% endif %}
      {% endfor %}
        </div> 
  </div>
</div>
{% endblock %}
