{% extends 'base.html' %}
{% load static %}

{% block title %}Refund Policy | Bessie + Beau  {% endblock %}

{% block page_header %}
    <div class="container header-container pb-5 my-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div class="main-container h-100 w-50 mx-auto my-5" >
    <div class="row h-100 border rounded header-container">
        <div class="col-12 my-2">
            <div class="card-header text-center">
                <h1>Refund Policy for Bessie + Beau</h1>
            </div>
            <div class="card-body">
                <p>At <a href="{% url 'home' %}"><strong>Bessie + Beau</strong></a>has a 30-day return policy, 
                    which means you have 30 days after receiving your item to request a return. To be eligible 
                    for a return, your item must be in the same condition that you received it, unworn or 
                    unused, with tags, and in its original packaging. You’ll also need the receipt or proof of purchase.
                </p>
                <p>
                    To start a return, you can contact us at support@bessiebeau.com. If your return is accepted, 
                    we’ll send you a return shipping label, as well as instructions on how and where to send your 
                    package. Items sent back to us without first requesting a return will not be accepted.
                </p>
                <p>You can always contact us for any return question at <strong>support@bessiebeau.com</strong></p>

                <h2>Damages and issues</h2>
                <p>
                    Please inspect your order upon reception and contact us immediately if the item is defective, 
                    damaged or if you receive the wrong item, so that we can evaluate the issue and make it right.
                </p>
                
                <h2>Exceptions / non-returnable items</h2>
                <p>Certain types of items cannot be returned, like perishable goods (such as food, flowers, or plants), 
                    custom products (such as special orders or personalized items), and personal care goods 
                    (such as beauty products). We also do not accept returns for hazardous materials, flammable liquids, 
                    or gases. Please get in touch if you have questions or concerns about your specific item.
                </p>                
                <p>Unfortunately, we cannot accept returns on sale items or gift cards.</p>

                <h2>Exchanges</h2>
                <p>
                    The fastest way to ensure you get what you want is to return the item you have, and once 
                    the return is accepted, make a separate purchase for the new item.
                </p>

                <h2>Refunds</h2>
                <p>
                    We will notify you once we’ve received and inspected your return, and let you know if 
                    the refund was approved or not. If approved, you’ll be automatically refunded on your 
                    original payment method. Please remember it can take some time for your bank or credit 
                    card company to process and post the refund too.
                </p>
                <h2>Contact Us</h2>
                <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to <a href="{% url 'contact' %}">contact us</a>.</p>
            </div>
        </div>  
    </div>
</div>
{% endblock %}