{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_header %}
<div class="container header-container pb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center" itemscope itemtype=“https://schema.org/Testimonial”>
            <hr />
            <h2 class="mb-4" itemprop =“name”>Write a testimonial</h2>
            <h5 class="text-muted">Share your thoughts with other customers</h5>
            <hr class="mb-2" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            {% if testimonial %}
            <div class="alert alert-success" role="alert">
                {{ user.username }}, your testimonial is awaiting approval
            </div>
            {% else %}
            <p class="text-center">Reviewing as: {{ user.username }}</p>
            <form method="POST" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %} {% for field in form %} {% if field.name != 'image' %} {{ field|as_crispy_field }} {% else %} {{ field }} {% endif %} {% endfor %}
                <div class="text-right my-3">
                    <a class="btn btn-outline-dark rounded-0" href="{% url 'home' %}">Cancel</a>
                    <button itemprop =“testimonials” class="btn btn-dark rounded-0">Add Testimonial</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
