*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* Header  */
/* .header-container {
    margin: 45px 0;
} */

/* main  */
.main-container {
    flex: 1 0 auto;
}

.testimonials {
    margin: 40px 0;
}

.text-black {
    color: black;
}

/* homepage  */
.haute-couture{
    font-size: 2rem;
}

/* buttons  */
.remove-item,
.update-link {
    cursor: pointer;
}

/* Allauth form formatting */

.allauth-form-inner-content {
    margin-top: 13.5rem;     
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Forms  */
.sign-in-form_or-divider {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 0 12px;
    
}

.sign-in-form_or-divider:before, 
.sign-in-form_or-divider:after {
    background-color: lightgray;
    content: '';
    height: 1px;
    width: 35%; 
}

/* Mailchimp  */
#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;  
    width:600px;
}

/* .form-message {
    align-items: center;
    background-color: rgb(241, 248, 233);
    display: flex;
    justify-content: center;
    padding: 10px 0 40px;
    height: 100vh;
    border-top: 2px solid;
    margin: 0 auto;
} */


/* End forms  */

.unauthorise-user {
    margin-top: 20%;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

  /* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.beauty-spotlight-img {
    width: 27.5rem;
    padding: 30px;
}

 
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */

  /* Portrait  */
  /* Screen sizes equal to or less than 500px wide */
  @media (max-width: 540px) {
    .container {
      text-align: center;
    }
  
    .container img {
        display: block;
        float: none;
        margin: auto;
    }

     /* Hero image */
     #hero-image-mobile {
        position: relative;
    }
    
    .hero-image-text {
        left: 13.75rem;
        position: absolute;
        top: 45%;
    }

    #hero-image {
        display: none;
    } 

    .home-img {
        width: 27.5rem;
    }

    .home-beauty-btn {
        width: 200px;
    }
    
  }

/* Landscape  */
/* Screen sizes equal to or larger than 760px wide */
@media screen and (min-width: 760px) 
and (orientation: landscape) {

    /* Hero image */
    #hero-image {
        position: relative;
    }
    
    .hero-image-text {
        position: absolute;
        top: 55%;
        left: 12.5rem;
    }

    #hero-image-mobile {
        display: none;
    } 

    .home-btn {
        width: 70%;
    }

    .home-beauty-btn {
        width: 40%;
    }

    .home-img {
        width: 37.5rem;
    }

}

 /* fixed top navbar only on medium and up */
 @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 184px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
