@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Global style */

:root {

    /* ------- COLORS ------ */
    --black: #000000;
    --hot-pink: #e31c79;
    --blue: #00f; 
    --light: #f8f9fa;
    --white: #ffffff;
    --black-pearl: #050708;
    

    /* TYPOGRAPHY */
    --content-text: 'Roboto', sans-serif;

    /* Linearly scale font size with CLAMP  */
    --step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
    --step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
    --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
    --step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
    --step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
    --step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
    --step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
    --step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* main  */
.main-container {
    flex: 1 0 auto;
}

.testimonials {
    margin: 40px 0;
}

.text-black {
    color: var(--black);
}

/* homepage  */
.haute-couture {
    font-size: 2rem;
}

/* buttons  */
.remove-item,
.update-link {
    cursor: pointer;
}

.edit-btn {
    color: var(--blue);
    text-decoration: underline;
}

.edit-link-color,
.update-cart-link-color,
.order-history-link-color {
    color: #006ee5;
}

.btn-wishlist {
    background: var(--hot-pink);
}

.add-to-wishlist-color {
    color: var(--black-pearl);
}

/* Allauth form formatting */

.allauth-form-inner-content {
    margin-top: 13.5rem;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}

/* Forms  */
.sign-in-form_or-divider {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 0 12px;
}

.sign-in-form_or-divider:before,
.sign-in-form_or-divider:after {
    background-color: lightgray;
    content: "";
    height: 1px;
    width: 30%;
}

/* Mailchimp  */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

.mailchimp-input {
    padding: 7px;
}

.mailchimp-btn {
    align-items: center;
    display: flex;
    flex-direction:row;
    justify-content:center;
    min-height: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
}


/* End forms  */

.unauthorise-user {
    margin-top: 20%;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.beauty-spotlight-img {
    width: 27.5rem;
    padding: 30px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */

/* Portrait  */

/* Screen sizes equal to or less than 395px wide */
@media (max-width: 395px) {
    .mt-5, .my-5 {
        margin-top: 3.5rem!important;
    }

    .text-uppercase {
        text-transform: none!important;
    }
}

/* Screen sizes equal to or less than 540px wide */
@media (max-width: 540px) {
    .container {
        text-align: left;
        width: 100%;
    }

    .container img {
        display: block;
        float: none;
        margin: auto;
    }

    /* Hero image */
    #hero-image-mobile {
        position: relative;
    }

    .hero-image-text {
        position: absolute;
        top: 60%;
        width: 100%;
        font-size: 1.5rem;
    }

    .home-mobile-btn {
        width: 50%;
        padding: 0.3rem;
    }

    #hero-image {
        display: none;
    }

    .home-beauty-btn {
        width: 200px;
    }

    .men-section-intro {
        display: none;
    }

    .men-section {
        align-items: center;
        margin: auto;
    }
}

/* Screen sizes equal to or less than 825px wide */
@media (max-width: 825px) {
     /* Hero image */
     #hero-image-mobile {
        position: relative;
    }

    .hero-image-text {
        position: absolute;
        top: 85%;
    }

    .text-uppercase {
        text-transform: none!important;
    }

    #hero-image {
        display: none;
    }
}

/* Landscape  */
/* Screen sizes equal to or larger than 667px wide */
@media screen and (min-width: 667px) and (orientation: landscape) {
    /* Hero image */
    #hero-image {
        position: relative;
    }

    .hero-image-text {
        position: absolute;
        top: 55%;
        left: 12.5rem;
    }

    #hero-image-mobile {
        display: none;
    }

    .home-btn {
        width: 70%;
    }

    .home-beauty-btn {
        width: 40%;
    }

    .home-img {
        width: 37.5rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 184px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
