<!-- <footer> -->
  <div class="navbar navbar-expand-lg text-dark bg-light mt-5">
      <div class="container-fluid text-center">
        <ul class="navbar-nav mx-auto my-3">      
            <li class="nav-item">  
              <h6>Our Social Networks</h6>             
              <a href="https://facebook.com/bessie1beau" target="_blank"><i class="fab fa-facebook-square fa-2xl" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
              <a href="https://instagram.com/bessie1beau" target="_blank"><i class="fab fa-instagram-square fa-2xl" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
              <a href="https://twitter.com/bessie1beau" target="_blank"><i class="fab fa-github-square fa-2xl" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
            </li> 
        </ul>
      </div>
  </div>
  <footer>
  <nav class="navbar navbar-expand-lg text-light bg-dark">
    <div class="container-fluid  text-center">
        <div class="mx-auto w-100">
            <section class="footer">
             <div class="row mx-auto">
               <!-- Mailchimp signup form -->
                <div class="col-12 col-md-3">
                  <h5>Subscribe!</h5>
                  <p>Get exclusive offers and discount codes</p>
                  <ul class="list-group list-group-flush my-0 ">
                    <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=96f4344c5dba8df65510fef00&amp;id=03219a1290&amp;f_id=0097c8e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <label for="mce-EMAIL"><span class="asterisk"></span>
                      </label>
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your e-mail" required><input type="submit" value="Subscribe" name="subscribe" class="button">
                    </form>
                    <li class="list-group-item bg-transparent"></li>
                  </ul>
                  
                </div>
                <div class="col-12 col-md-3">
                  <h5>Customer Service</h5>
                  <ul class="list-group list-group-flush my-0 ">
                    <a href="#" class="list-group-item bg-transparent border-0 p-0">Refund Policy</a>
                    <a href="#" class="list-group-item bg-transparent border-0 p-0">Privacy Policy</a>
                    <a href="#" class="list-group-item bg-transparent border-0 p-0">Terms of Service</a>
                    <li class="list-group-item bg-transparent"></li>
                  </ul>
                </div>
                <div class="col-12 col-md-3">
                  <h5>Buy on Bessie + Beau</h5>
                  <ul class="list-group list-group-flush my-0 ">
                    <a href="#" class="list-group-item bg-transparent border-0 p-0">Create an Account</a>
                    <a href="#" class="list-group-item bg-transparent border-0 p-0">Deliveries</a>
                    <a href="#" class="list-group-item bg-transparent border-0 p-0">User Guide</a>
                    <li class="list-group-item bg-transparent"></li>
                  </ul>
                </div>
              <div class="col-12 col-md-3">
                <span class="navbar-text">(c) Panzek 2023. All Rights Reserved.</span>
              </div>
             </div>
           </section>
        </div>
    </div>
    <nav>
</footer>

<!-- Mailchimp  -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>
  (function($) 
  {window.fnames = new Array(); 
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
    fnames[1]='FNAME';
    ftypes[1]='text';
    fnames[2]='LNAME';
    ftypes[2]='text';
    fnames[3]='ADDRESS';
    ftypes[3]='address';
    fnames[4]='PHONE';
    ftypes[4]='phone';
    fnames[5]='BIRTHDAY';
    ftypes[5]='birthday';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>