<footer>
  <div class="navbar navbar-expand-lg text-dark bg-light mt-5">
      <div class="container-fluid text-center">
        <ul class="navbar-nav mx-auto my-2">      
            <li class="nav-item">  
              <h4>Our Social Networks</h4>    
              <a href="https://facebook.com/bessie1beau" target="_blank" rel="noopener" aria-label="Go to Bessie + Beau's Facebook page (opens new tab on third party site)" title="Facebook">
                <span style="font-size: 2em; color: black;">
                  <i class="fab fa-facebook-square" aria-hidden="true"></i>
                </span>
                <span class="sr-only">Facebook</span>
              </a>
              <a href="https://instagram.com/bessie1beau" target="_blank" rel="noopener" aria-label="Go to Bessie + Beau's Instagram page (opens new tab on third party site)" title="Instagram">
                <span style="font-size: 2em; color: black;">
                <i class="fab fa-instagram-square" aria-hidden="true"></i>
              </span>
                <span class="sr-only">Instagram</span>
              </a>
              <a href="https://twitter.com/bessie1beau" target="_blank" rel="noopener" aria-label="Go to Bessie + Beau's twitter page (opens new tab on third party site)" title="Twitter">
                <span style="font-size: 2em; color: black;">
                  <i class="fab fa-github-square" aria-hidden="true"></i>
                </span>
                <span class="sr-only">Twitter</span>
              </a>
            </li> 
        </ul>
      </div>
  </div>
  <!-- <footer> -->
  <nav class="navbar navbar-expand-lg text-light bg-dark">
    <div class="container-fluid  text-center">
        <div class="mx-auto w-100">
            <section class="footer">
             <div class="row mx-auto">
               <!-- Mailchimp signup form -->
                <div class="col-12 col-md-3">
                  <h5>Subscribe!</h5>
                  <p>Get exclusive offers and discount codes</p>
                  <ul class="list-group list-group-flush my-0 ">
                    <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=96f4344c5dba8df65510fef00&amp;id=03219a1290&amp;f_id=0097c8e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <label for="mce-EMAIL"><span class="asterisk"></span>
                      </label>
                      <input type="email" value="" name="EMAIL" class="required email form-control-sm" id="mce-EMAIL" placeholder="Enter your e-mail" required><input type="submit" value="Subscribe" name="subscribe">
                      <div id="mce-responses" >
                    <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    </form>
                    <!-- Begin Mailchimp Signup Form -->
                    <li class="list-group-item bg-transparent"></li>
                  </ul>
                  
                </div>
                <div class="col-12 col-md-3">
                  <h5>Customer Service</h5>
                  <ul class="list-group list-group-flush my-0 ">
                    <a href="{% url 'refund' %}" aria-label="Go to refund policy page" class="list-group-item bg-transparent border-0 p-0">Refund Policy</a>
                    <a href="{% url 'privacy' %}" aria-label="Go to privacy policy page" class="list-group-item bg-transparent border-0 p-0">Privacy Policy</a>
                    <a href="{% url 'terms' %}" aria-label="Go to terms and service page" class="list-group-item bg-transparent border-0 p-0">Terms of Service</a>
                    <li class="list-group-item bg-transparent"></li>
                  </ul>
                </div>
                <div class="col-12 col-md-3">
                  <h5>Buy on Bessie + Beau</h5>
                  <ul class="list-group list-group-flush my-0 ">
                    <a href="{% url 'how_to_shop' %}" aria-label="Go to how to shop on bessie + beau page" class="list-group-item bg-transparent border-0 p-0">How to Shop on Bessie + Beau</a>
                    <a href="{% url 'delivery_returns' %}" aria-label="Go to delivery and return page" class="list-group-item bg-transparent border-0 p-0">Delivery &amp; Returns</a>
                    <a href="{% url 'user_guide' %}" aria-label="Go to user guide page" class="list-group-item bg-transparent border-0 p-0">User Guide</a>
                    <li class="list-group-item bg-transparent"></li>
                  </ul>
                </div>
              <div class="col-12 col-md-3">
                <span class="navbar-text">(c) Panzek 2023. All Rights Reserved.</span>
              </div>
             </div>
           </section>
        </div>
    </div>
    <nav>
</footer>

<!-- Mailchimp  -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>
  (function($) 
  {window.fnames = new Array(); 
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
    fnames[1]='FNAME';
    ftypes[1]='text';
    fnames[2]='LNAME';
    ftypes[2]='text';
    fnames[3]='ADDRESS';
    ftypes[3]='address';
    fnames[4]='PHONE';
    ftypes[4]='phone';
    fnames[5]='BIRTHDAY';
    ftypes[5]='birthday';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);
</script>