    <!-- Footer -->
    <footer class="container-wrapper">
        <div class="container quotes-container content-container">
          <section class="footer">
            <div class="row">
              <div class="col-12 page-header mb-1">
                <hr class="block-divider block-divider--short">
              </div>
           </div>
           <div class="row">
             <div class="col-12 col-md-6">
               <h5>Social</h5>
               <p>Keep up to date with all our latest offers</p>
               <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
             </div>
             <div class="col-12 col-md-6">
               <h5>Subscribe!</h5>
               <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
               <!-- Mailchimp signup form here -->
             </div>
           </div>
         </section>
       </div>
     </footer>
    <!-- /.footer -->