<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Dresses</a>
                <a href="" class="dropdown-item">Jeans</a>
                <a href="" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes and Accessories
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="shoes-link">
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Bags</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="" class="dropdown-item">All Shoes and Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beauty-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beauty
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="beauty-link">
                <a href="" class="dropdown-item">Makeup Polish</a>
                <a href="" class="dropdown-item">Eyelashes and Lipsticks</a>
                <a href="" class="dropdown-item">All Beauty</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Him
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="mens-link">
                <a href="" class="dropdown-item">Men Shirts</a>
                <a href="" class="dropdown-item">Men Jeans</a>
                <a href="" class="dropdown-item">Men Shoes and Accessories</a>
                <a href="" class="dropdown-item">All Men</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>