<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'products' %}?category=jeans" class="dropdown-item">Jeans</a>
                <a href="{% url 'products' %}?category=dresses,jeans" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes and Accessories
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="shoes-link">
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=shoes,bags,accessories" class="dropdown-item">All Shoes &amp; Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beauty-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beauty
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="beauty-link">
                <a href="{% url 'products' %}?category=makeup_polish" class="dropdown-item">Makeup &amp; Polish</a>
                <a href="{% url 'products' %}?category=eyelashes_lipsticks" class="dropdown-item">Eyelashes &amp; Lipsticks</a>
                <a href="{% url 'products' %}?category=makeup_polish,eyelashes,lipsticks" class="dropdown-item">All Beauty</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Him
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="mens-link">
                <a href="{% url 'products' %}?category=men_shirts" class="dropdown-item">Men Shirts</a>
                <a href="{% url 'products' %}?category=men_jeans" class="dropdown-item">Men Jeans</a>
                <a href="{% url 'products' %}?category=men_shoes_accessories" class="dropdown-item">Men Shoes &amp; Accessories</a>
                <a href="{% url 'products' %}?category=men_shirts,men_jeans,men_shoes_accessories" class="dropdown-item">All Men</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'testimonial' %}" class="logo-font font-weight-bold nav-link text-black" id="specials-link" >
                Contact Us
            </a>
        </li>
    </ul>
</div>