<li class="list-inline-item">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg" aria-hidden="true"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search products">
                <div class="input-group-append">
                    <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            {% if request.user.is_authenticated %}
                <p class="my-0">Hi {{ user | capfirst}}!</p>
            {% else %}
                <p class="my-0">Account</p>
            {% endif %}
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a href="{% url 'add_product' %}" aria-label="Go to product management page" class="dropdown-item">Product Management</a>
            <hr>
            <a href="{% url 'profile' %}" class="dropdown-item" aria-label="Go to my account page"><i class="fa-solid fa-user" aria-hidden="true"></i> My Account</a>
            <hr>
            <a href="{% url 'account_logout' %}" aria-label="Go to account logout page" class="dropdown-item"><i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i> Logout</a>
        {% elif not request.user.is_superuser %}
            <a href="{% url 'profile' %}" aria-label="Go to account page" class="dropdown-item"><i class="fa-solid fa-user" aria-hidden="true"></i> My Account</a>
            <hr class="my-0">
            <a href="{% url 'account_logout' %}" aria-label="Go to account logout page" class="dropdown-item"><i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i> Logout</a>
        {% endif %}
        {% else %}
            <a href="{% url 'account_signup' %}" aria-label="Go to account signup page" class="dropdown-item"><i class="fa-solid fa-users" aria-hidden="true"></i> Register</a>
            <hr class="my-0">
            <a href="{% url 'account_login' %}" aria-label="Go to account login page" class="dropdown-item"><i class="fa-solid fa-lock" aria-hidden="true"></i> Login</a>
    {% endif %}
    </div>
</li>

<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none" href="{% url 'view_cart' %}">
        <div class="text-center text-black">
            <div><i class="fa-solid fa-cart-shopping"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                    {% else %}
                        €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>