{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

  <div class="sign-in-form_or-divider">
    <h2 class="login-or mx-auto font-weight-bold">{% trans "Sign In" %}</h2>
  </div>

<p class="signin-intro text-center">{% blocktrans with site.name as site_name %}
  Log in now to unlock your exclusive access to products and offers.<br>
  Not registered yet? 
  <a href="{{ signup_url }}">Create a {{ site_name }} Account</a>{% endblocktrans %}
</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p class="mt-2">
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
  <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Home</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

<div class="sign-in-form_or-divider">
  <span class="login-or mx-auto font-weight-bold">{% trans 'or' %}</span>
</div>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<span>{% blocktrans with site.name as site_name %}Sign in with one
of your existing social media accounts:{% endblocktrans %}</span>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
