{% extends 'base.html' %} {% load static %} {% block title %} 404 - Page not Found | Bessie + Beau {% endblock %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
            <hr />
            <h1 class="mb-4">404 Page</h1>
            <hr class="mb-3" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <h2 class="mb-4">Aw, Snap!</h2>
            <p class="card-text">Sorry, We couldn't find that page.</p>
            <p>You may want to try some of these useful links.</p>
            <u>
                <li>
                    <a href="{% url 'products' %}" aria-label="Go to products page"> Products</a>
                </li>
            </u>
            <p class="py-3">or</p>
            <a href="{% url 'home' %}" aria-label="Go to home page" class="btn text-uppercase rounded-circle border-dark bg-white">Go back Home</a>
        </div>
    </div>
</div>
{% endblock %}
