{% extends 'base.html' %}
{% load static %}

{% block title %} 404 - Page not Found | Bessie + Beau  {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>404 Page</h3>
        </div>
        <div class="col-sm-4">
            <h3>Here are some helpful links</h3>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Go back Home</a> 
                </li>
                <li>Products</li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
