{% extends 'base.html' %}
{% load static %}

{% block title %} 500 - Server Error | Bessie + Beau  {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div class="card border-0 mx-auto" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title text-center">500 Page</h5>
      <hr>
      <p class="card-text">Sorry, nothing is here because this is not the page you're looking for.</p>
      <p>You may want to try some of these useful links.</p>
      <u>
        <li>
            <a href="{% url 'products' %}">Products</a>
        </li>
      </u>
      <p class="py-3">or</p>
      <a href="{% url 'home' %}" class="btn text-uppercase border-dark bg-white">Go back Home</a>
    </div>
</div>
{% endblock %}
