{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Contact Us | Bessie + Beau {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
            <hr>
            <h2 class="mb-4">Get In Touch</h2>
            <hr class="mb-3">
        </div>  
    </div>  
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            {% if reviewed %}
                <div class="alert alert-success" role="alert">
                </div>
                {% else %}
            <form action="{% url 'contact' %}" method="POST" class="form mb-2">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center my-3">
                    <a class="btn btn-outline-dark rounded-0" style="width: 25rem;" href="{% url 'home' %}">Cancel</a>
                    <button type="submit" class="btn btn-info rounded-0" style="width: 25rem;">Send</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}