{% extends 'base.html' %} 
{% load static %} 
{% block title %} {{ product.name }} | Bessie + Beau {% endblock %} 
{% load crispy_forms_tags %} 

{% block page_header %}
<div class="container header-container mb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <hr />
            <h2 class="mb-4">Product Management</h2>
            <h5 class="text-muted">Edit Product</h5>
            <hr class="mb-5" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %} {% for field in form %} {% if field.name != 'image' %} {{ field|as_crispy_field }} {% else %} {{ field }} {% endif %} {% endfor %}
                <div class="text-right my-3">
                    <a class="btn btn-outline-dark" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-info round-0">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
